<div id="<%= dom_id article %>">
  <p>
    <strong>name:</strong>
    <%= article.name %>
  </p>

  <p>
    <strong>description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>price:</strong>
    <%= article.price %> €
  </p>

</div>
